@page "/Maintenances/"
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 col-md-10 pl-0 pb-2 pb-md-0">
            <h3>Сервисное обслуживание</h3>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 pl-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                    data-toggle="modal" data-target="#createModal"></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="card-link float-right fa @CaretMain fa-lg" @onclick='()=>ChangeCaret("Main")' data-toggle="collapse" href="#collapseOne">
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Номер:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Статус:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <select class="form-control">
                                    <option selected="selected">Активный</option>
                                    <option>Неактивный</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Период:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                <input type="date" class="form-control " />
                            </div>
                            <div class="w-100 d-md-none "></div>
                            <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Ответственный:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary">
                                <span aria-hidden="true" class="fa fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Управление</th>
                                <th>Номер</th>
                                <th>Статус</th>
                                <th>Дата начала</th>
                                <th>Расчётная дата конца</th>
                                <th>Фактическая дата конца</th>
                                <th>Ответственный</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                    <button class="btn btn-primary fa fa-window-close transfer-button" type="button"
                                            data-toggle="modal" data-target="#closeWorkOrderModal"></button>
                                </td>
                                <td class="text-left"><a href="/Maintenances/Details/1">00000001/2020</a></td>
                                <td class="text-left">Активный</td>
                                <td class="text-left">
                                    31.07.2020
                                </td>
                                <td class="text-left">
                                    01.08.2020
                                </td>
                                <td class="text-left">
                                    01.08.2020
                                </td>
                                <td class="text-left">Иванов Иван Иванович</td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                    <button class="btn btn-primary fa fa-window-close transfer-button" type="button"
                                            data-toggle="modal" data-target="#closeWorkOrderModal"></button>
                                </td>
                                <td class="text-left"><a href="/Maintenances/Details/1">00000002/2020</a></td>
                                <td class="text-left">Активный</td>
                                <td class="text-left">
                                    01.08.2020
                                </td>
                                <td class="text-left">
                                    02.08.2020
                                </td>
                                <td class="text-left">
                                    02.08.2020
                                </td>
                                <td class="text-left">Иванов Иван Иванович</td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                    <button class="btn btn-primary fa fa-window-close transfer-button" type="button"
                                            data-toggle="modal" data-target="#closeWorkOrderModal"></button>
                                </td>
                                <td class="text-left"><a href="/Maintenances/Details/1">00000003/2020</a></td>
                                <td class="text-left">Активный</td>
                                <td class="text-left">
                                    02.08.2020
                                </td>
                                <td class="text-left">
                                    04.08.2020
                                </td>
                                <td class="text-left">
                                    04.08.2020
                                </td>
                                <td class="text-left">Иванов Иван Иванович</td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                    <button class="btn btn-primary fa fa-window-close transfer-button" type="button"
                                            data-toggle="modal" data-target="#closeWorkOrderModal"></button>
                                </td>
                                <td class="text-left"><a href="/Maintenances/Details/1">00000004/2020</a></td>
                                <td class="text-left">Активный</td>
                                <td class="text-left">
                                    04.08.2020
                                </td>
                                <td class="text-left">
                                    06.08.2020
                                </td>
                                <td class="text-left">
                                    -
                                </td>
                                <td class="text-left">Иванов Иван Иванович</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        @*<div class="form-group row align-items-center">
                                <label for="statusTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Статус:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col mb-2">
                                    <select class="form-control">
                                        <option>Активный</option>
                                        <option>Неактивный</option>

                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Дата начала:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Рассчётная дата конца:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Фактическая дата конца:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Ответственный:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Edit*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col  mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        @*<div class="form-group row align-items-center">
                                <label for="statusTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Статус:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col  mb-2">
                                    <select class="form-control">
                                        <option>Активный</option>
                                        <option>Неактивный</option>

                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Дата начала:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col  mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Рассчётная дата конца:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Фактическая дата конца:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col  mb-2">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-5 col-lg-4 col-form-label mb-2"> Ответственный:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col  mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center pl-3 pr-3">
                                <label for="unitTitle" class="col-12 col-form-label mb-2"> Инструменты:</label>
                            </div>
                            @*Tools search start*@
                            <div class="row align-items-center pl-3 pr-3">
                                <div class="card w-100 mr-3 ml-3">
                                    <div class="card-header pt-0 pb-0">
                                        <h5 class="pt-2 pb-2">
                                            Поиск
                                            <a class="card-link float-right fa @CaretCreation fa-lg" @onclick='()=>ChangeCaret("Creation")' data-toggle="collapse" href="#toolsSearchCollapse">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="toolsSearchCollapse" class="collapse">
                                        <div class="m-3">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Наименование:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Подразделение:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Серийный номер:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Заказной номер:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Артикул:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Классификация:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary">
                                                        <span aria-hidden="true" class="fa fa fa-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Tools search end*@
                            <div class="row align-items-center pl-3 pr-3">
                                <div class="col pt-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Наименование</th>
                                                    <th>Подразделение</th>
                                                    <th>Серийный номер</th>
                                                    <th>Заказной номер</th>
                                                    <th>Артикул</th>
                                                    <th>Классификация</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" class="form-check" />
                                                    </td>
                                                    <td class="text-left">
                                                        Труба 1
                                                    </td>
                                                    <td class="text-left">
                                                        Подразделение 1
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        15963589
                                                    </td>
                                                    <td class="text-left">
                                                        Вид1 -> Тип3
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" class="form-check" />
                                                    </td>
                                                    <td class="text-left">
                                                        Труба 2
                                                    </td>
                                                    <td class="text-left">
                                                        Подразделение 1
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        15963589
                                                    </td>
                                                    <td class="text-left">
                                                        Вид1 -> Тип3
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>



            </div>
        </div>
    </div>
    @*Modal Create*@

    @*Modal CloseWorkOrder*@
    <div class="modal fade" id="closeWorkOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Закрытие сервисного обслуживания</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите закрыть сервисное обслуживание?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal CloseWorkOrder*@

</div>

@code {
    public bool isCaretMainUp = false;
    public bool isCaretCreationUp = false;
    public string CaretMain => isCaretMainUp ? "fa-caret-down" : "fa-caret-up";
    public string CaretCreation => isCaretCreationUp ? "fa-caret-down" : "fa-caret-up";

    public void ChangeCaret(string elem)
    {
        switch (elem)
        {
            case "Main":
                isCaretMainUp = !isCaretMainUp;
                break;
            case "Creation":
                isCaretCreationUp = !isCaretCreationUp;
                break;
        }
    }
}

