@page "/Administrative/Users"
@model ToolManagmentSystem.Client.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 col-md-10 pl-0 pb-2 pb-md-0">
            <h3>Пользователи</h3>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 pl-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                    data-toggle="modal" data-target="#createModal"></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="Caret card-link float-right fa fa-caret-down fa-lg" onclick="ChangeCaret()" data-toggle="collapse" href="#collapseOne">
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Подразделение:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                ФИО:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Логин:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Роль:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary">
                                <span aria-hidden="true" class="fa fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover css-numbered-rows text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:5%;">#</th>
                                <th style="width:20%;">Логин</th>
                                <th style="width:20%;">ФИО</th>
                                <th style="width:20%;">Подразделение</th>
                                <th style="width:20%;">Роли</th>
                                <th style="width:15%;">Управление</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Admin@ia.ua</td>
                                <td>Иванов Иван Иванович</td>
                                <td>Подразделение 1</td>
                                <td>Администратор <br /> Оператор НСИ <br /> Оператор инструмента</td>
                                <td>
                                    <div class="table-control-buttons-row">
                                        <button class="btn btn-primary fa fa-edit edit-button table-edit-button" type="button"
                                                data-toggle="modal" data-target="#editModal"></button>
                                        <button class="btn btn-primary fa fa-trash-alt delete-button" type="button"
                                                data-toggle="modal" data-target="#deleteModal"></button>
                                        <button class="btn btn-primary fa fa-undo-alt transfer-button" type="button"
                                                data-toggle="modal" data-target="#resetModal"></button>
                                    </div>
                                        
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Reset password*@
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Сброс пароля</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сбросить пароль пользователю?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Reset password*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Логин:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="statusTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Пароль:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="statusTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> ФИО:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="statusTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Подразделение:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Подразделение 1</option>
                                    <option>Подразделение 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center pl-3 pr-3">
                                <label for="unitTitle" class="col col-md-8 col-lg-9 col-form-label mb-2"> Роли:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col col-md-4 col-lg-3 mb-2">
                                    <button class="btn btn-primary w-100 fa fa-plus float-md-right create-button" type="button" onclick="AddRolesRow('rolesCreationTbody')"></button>
                                </div>
                            </div>

                            <div class="row align-items-center pl-3 pr-3">
                                <div class="col pt-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover css-numbered-rows text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%;">#</th>
                                                    <th style="width:90%;">Наименование</th>
                                                    <th style="width:10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="rolesCreationTbody">
                                                <tr>
                                                    <td></td>

                                                    <td>
                                                        <select class="form-control">
                                                            <option selected="selected">Администратор</option>
                                                            <option>Оператор НСИ</option>
                                                            <option>Оператор инструмента</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary fa fa-minus w-100" type="button"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearRolesTable('rolesCreationTbody')">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="ClearRolesTable('rolesCreationTbody')">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Create*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Логин:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="statusTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> ФИО:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="statusTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Подразделение:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Подразделение 1</option>
                                    <option>Подразделение 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center pl-3 pr-3">
                                <label for="unitTitle" class="col col-md-8 col-lg-9 col-form-label mb-2"> Роли:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col col-md-4 col-lg-3 mb-2">
                                    <button class="btn btn-primary w-100 fa fa-plus float-md-right create-button" type="button" onclick="AddRolesRow('rolesEditTbody')"></button>
                                </div>
                            </div>

                            <div class="row align-items-center pl-3 pr-3">
                                <div class="col pt-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover css-numbered-rows text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%;">#</th>
                                                    <th style="width:90%;">Наименование</th>
                                                    <th style="width:10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="rolesCreationTbody">
                                                <tr>
                                                    <td></td>

                                                    <td>
                                                        <select class="form-control">
                                                            <option selected="selected">Администратор</option>
                                                            <option>Оператор НСИ</option>
                                                            <option>Оператор инструмента</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary fa fa-minus w-100" type="button"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearRolesTable('rolesEditTbody')">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick="ClearRolesTable('rolesEditTbody')">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Edit*@
</div>

@section Scripts {
    <script type="text/javascript">
        var isCaretUp = false;
        var RolesCounter = 0;

        //var cont = 1;
        //$(".table-edit-button").each(() => {
        //    addEventListener("click", () => {
        //        fetch("/UserEditModalModel?handler=PartialUserEdit")
        //            .then((response) => {
        //                return response.text();
        //            })
        //            .then((result) => {
        //                document.getElementById("editModal").innerHTML = result;
        //            })
        //})});

        function ChangeCaret()
        {
            isCaretUp = !isCaretUp;
            if (isCaretUp == true) {
                $(".Caret").removeClass("fa-caret-down");
                $(".Caret").addClass("fa-caret-up");
            }
            else {
                $(".Caret").removeClass("fa-caret-up");
                $(".Caret").addClass("fa-caret-down");
            }
            
        };
        function IncrementCount()
        {
            RolesCounter++;
        };

        function AddRolesRow(tBodyName)
        {
            //AddRolesRow(tbodyName, RolesCounter);
            var tBodyElem = '#' + tBodyName;
            $(tBodyElem).append(
                "<tr id='role-row-" + RolesCounter + "'><td></td>"
                + "<td><select class='form-control'></select></td>"
                + "<td>"
                + "<button id='role-row_button-" + RolesCounter + "' onclick='RemoveTableRow(this.id)' class='btn btn-primary fa fa-minus w-100' type='button'></button>"
                + "</td >"
                + "</tr>"
            );
            IncrementCount();
        };

        function ClearRolesTable(tBodyName)
        {
            ClearTable(tBodyName);
            RolesCounter = 1;
        };
       
    </script> 
}

