@page "/NRI/Statuses"
@model ToolManagementSystem.Client.Pages.NRI.StatusesModel
@{
    ViewData["Title"] = "Statuses";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 col-md-10 pl-0 pb-2 pb-md-0">
            <h3>Справочник статусов</h3>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 pl-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                    data-toggle="modal" data-target="#createModal"></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="card-link float-right fa Caret fa-caret-down fa-lg" onclick="ChangeCaret()" data-toggle="collapse" href="#statusesSearchCollapse">
                    </a>
                </h5>
            </div>
            <div id="statusesSearchCollapse" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                Наименование:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" asp-for="filterByName" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary" type="button" id="search-button">
                                <span aria-hidden="true" class="fa fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive" id="statusesTable">
                    <table class="table table-bordered table-hover css-numbered-rows nri-table text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:5%;">#</th>
                                <th style="width:30%;" class="sort-asc">
                                    <a href="#" data-sort="Name">
                                        Наименование
                                    </a>
                                </th>
                                <th style="width:50%;">Описание</th>
                                <th style="width:15%;">Управление</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Statuses != null && Model.Statuses.Count > 0)
                            {
                                foreach (ToolStatus status in Model.Statuses)
                                {
                                    <tr>
                                        <td></td>

                                        <td>@status.Name</td>
                                        <td>@status.Description</td>
                                        <td class="align-middle">
                                            <div class="table-control-buttons-row">
                                                <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                                        data-toggle="modal" data-target="#editModal" data-statusid="@status.ToolStatusId"></button>
                                                <button class="btn btn-primary fa fa-trash-alt delete-button" type="button"
                                                        data-toggle="modal" data-target="#deleteModal" data-statusid="@status.ToolStatusId"></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="simple-pagination container align-content-center">
                        <div class="row justify-content-center">
                            <div class="simple-pagination-first"></div>
                            <div class="simple-pagination-previous"></div>
                            <div class="simple-pagination-page-numbers row m-0 align-content-center"></div>
                            <div class="simple-pagination-next"></div>
                            <div class="simple-pagination-last"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <input type="hidden" class="form-control" asp-for="DeleteStatusId">
                    <div class="modal-body">
                        Вы действительно хотите удалить запись?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary " asp-page-handler="Delete">Принять</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa fa fa-times"></span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">

                        <input type="hidden" class="form-control" asp-for="EditStatus.ToolStatusId">
                        <div class="form-group row">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Наименование:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" asp-for="EditStatus.Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Описание:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <textarea class="form-control" asp-for="EditStatus.Description" rows="3"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Update">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*Modal Edit*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">

                        <div class="form-group row">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Наименование:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" asp-for="NewStatus.Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Описание:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <textarea class="form-control" asp-for="NewStatus.Description" rows="3"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Create">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*Modal Create*@
</div>

@section Scripts {
    <script type="text/javascript">
        var isCaretUp = false;
        var pagedList = "#statusesTable";
        var filterByNameStr = "";
        var sortField = "Name";
        var itemsOnPage = 5;
        var isAscendingSort = true;
        GenList(pagedList, itemsOnPage);
        EnableDeleteButton();
        EnableEditButton();

        $(pagedList + " th a").click(function (e) {
            e.preventDefault();
            $(pagedList + " th").removeClass("sort-asc sort-desc");
            if (sortField == $(this).attr("data-sort")) {
                isAscendingSort = !isAscendingSort;
            }
            else {
                isAscendingSort = true;
            }
            if (isAscendingSort == true) {
                $(this).parent().addClass("sort-asc");
            }
            else {
                $(this).parent().addClass("sort-desc");
            }
            sortField = $(this).attr("data-sort");
            hubConnection.invoke('GetStatuses', filterByNameStr, sortField, isAscendingSort);
        });

        function EnableDeleteButton() {
            $(".delete-button").click(function () {
                var statusId = $(this).data('statusid');
                $('#DeleteStatusId').val(statusId);
            });
        };

        function EnableEditButton() {
            $('.edit-button').click(function () {
                var statusId = $(this).data('statusid');
                hubConnection.invoke('GetEditedStatus', statusId);
            });
        };

        $('#filterByName').change(function () {
            filterByNameStr = $("#filterByName").val();
        });

        $('#search-button').click(function () {
            hubConnection.invoke('GetStatuses', filterByNameStr, sortField, isAscendingSort);
        });

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/data")
            .build();

        hubConnection.on("recieveEditedStatus", function (data) {
            var json = JSON.parse(data);
            $('#EditStatus_Name').val(json.Name);
            $('#EditStatus_StatusId').val(json.StatusId);
        });

        hubConnection.on("recieveStatuses", function (data) {
            var json = JSON.parse(data);
            $(pagedList + " tbody").empty();
            var json = JSON.parse(data);
                   
            for (let i = 0; i < json.length; i++) {
                $(pagedList + " tbody").append(
                    "<tr>"
                    + "<td></td>"
                    + "<td>" + json[i].Name + "</td>"
                    + "<td>" + json[i].Description + "</td>"
                    + "<td class='align-middle'>"
                    + "<div class='table-control-buttons-row'>"
                    + "<button class='btn btn-primary fa fa-edit edit-button' type='button'"
                    + "data-toggle='modal' data-target='#editModal' data-statusid='" + json[i].StatusId + "'></button>"
                    + "<button class='btn btn-primary fa fa-trash-alt delete-button' type='button'"
                    + "data-toggle='modal' data-target='#deleteModal' data-statusid='" + json[i].StatusId + "'></button>"
                    + "</div>"
                    + "</td>"
                    + "</tr>"
                );
            }
            GenList(pagedList, itemsOnPage);
            EnableEditButton();
            EnableDeleteButton();
        });

        hubConnection.start();


        function ChangeCaret() {
            isCaretUp = !isCaretUp;
            if (isCaretUp == true) {
                $(".Caret").removeClass("fa-caret-down");
                $(".Caret").addClass("fa-caret-up");
            }
            else {
                $(".Caret").removeClass("fa-caret-up");
                $(".Caret").addClass("fa-caret-down");
            }
        };

    </script>
}


