@page "/Administrative/Roles"
@inject IJSRuntime jsRuntime

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 col-md-10 pl-0 pb-2 pb-md-0">
            <h3>Справочник ролей</h3>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 pl-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                    data-toggle="modal" data-target="#createModal"  @onclick="@(() => AddСreationTree("creationRolesTree"))" ></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="card-link float-right fa @Caret fa-lg" @onclick="ChangeCaret" data-toggle="collapse" href="#collapseOne">
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Наименование:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary">
                                <span aria-hidden="true" class="fa fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover roles-table">
                        <thead>
                            <tr>
                                <th rowspan="2">Управление</th>
                                <th rowspan="2">Наименование</th>
                                <th>НСИ</th>
                                <th>Склад</th>
                                <th>Сервис</th>
                                <th>Наряды</th>
                                <th>Админ</th>
                                <th>Документация</th>
                            </tr>
                            <tr>
                                @for (int i = 0; i < 6; i++)
                                 {
                                    <th class="align-middle">
                                        <div class="row flex-nowrap p-2 justify-content-center">
                                            <i class="fa fas fa-eye"></i>
                                            <i class="fa fas fa-edit"></i>
                                            <i class="fa fas fa-plus"></i>
                                            <i class="fa fas fa-trash-alt"></i>                                          
                                        </div>
                                    </th>
                                 }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td>Администратор</td>
                                @for (int i = 0; i < 6; i++)
                                {
                                    <td class="align-middle">
                                        <div class="row flex-nowrap p-2 justify-content-center">
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                        </div>
                                    </td>
                                }

                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td>Оператор НСИ</td>
                                @for (int i = 0; i < 6; i++)
                                {
                                    <td class="align-middle">
                                        <div class="row flex-nowrap p-2 justify-content-center">
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                        </div>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td>Оператор Инструментов</td>
                                @for (int i = 0; i < 6; i++)
                                {
                                    <td class="align-middle">
                                        <div class="row flex-nowrap p-2 justify-content-center">
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                            <input class="readonly-checkbox" type="checkbox" disabled>
                                        </div>
                                    </td>

                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="Title" class="col col-md-4 col-lg-3 col-form-label mb-2"> Наименование:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="Title">
                            </div>
                        </div>
                        <div class="form-group align-items-center">
                            <label for="editDropdownWrapper" class="col col-form-label mb-2"> Права доступа:</label>
                            <div class="w-100 d-md-none"></div>
                            <div id="editDropdownWrapper" class="col col-form-label">
                                <div id="editRolesTree">

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Edit*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="Title" class="col col-md-4 col-lg-3 col-form-label mb-2"> Наименование:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="Title">
                            </div>
                        </div>
                        <div class="form-group align-items-center">
                            <label for="creationDropdownWrapper" class="col col-form-label mb-2"> Права доступа:</label>
                            <div class="w-100 d-md-none"></div>
                            <div  id="creationDropdownWrapper" class="col col-form-label">
                                <div id="creationRolesTree">

                                </div>
                          
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Create*@
</div>

@code {
    private bool isCaretUp = false;
    public string Caret => isCaretUp ? "fa-caret-down" : "fa-caret-up";
    private bool ModalCreateFirstOpened = true;

    public void ChangeCaret()
    {
        isCaretUp = !isCaretUp;
    }

    public async void AddEditTreeDropdown(string treeElementName, string wrapperElementName, string nodeId)
    {
        //КОСТЫЛЬ
        await jsRuntime.InvokeVoidAsync("DeleteRolesEditWrapper", wrapperElementName);
        await jsRuntime.InvokeVoidAsync("AddRolesTree", treeElementName);
    }

    public async void AddСreationTree(string treeElementName)
    {
        if (ModalCreateFirstOpened == true)
        {
            await jsRuntime.InvokeVoidAsync("AddRolesTree", treeElementName);
            //КОСТЫЛЬ
            await jsRuntime.InvokeVoidAsync("AddRolesTree", "editRolesTree");
            ModalCreateFirstOpened = false;
        }
    }
}

