@page "/Orders/"
<div class="container">
    <div class="row">
        <div class="col-11">
            <h3>Orders</h3>
        </div>
        <div class="col-1 pr-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus" type="button"
                    data-toggle="modal" data-target="#createModal"></button>
        </div>
    </div>
</div>

<div class="container">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="card-link float-right fa @Caret fa-lg" @onclick="ChangeCaret" data-toggle="collapse" href="#orderSearchCollapse">
                    </a>
                </h5>
            </div>
            <div id="orderSearchCollapse" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Номер:
                            </div>
                            <div class="col pr-0">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Статус:
                            </div>
                            <div class="col pr-0">
                                <select class="form-control">
                                    <option selected="selected">Активный</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Период:
                            </div>
                            <div class="col-5 pr-0">
                                <input type="datetime-local" />
                            </div>
                            <div class="col-5 pr-0">
                                <input type="datetime-local" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Скважина:
                            </div>
                            <div class="col pr-0">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Контракт:
                            </div>
                            <div class="col pr-0">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-2 pt-1">
                                Ответственный:
                            </div>
                            <div class="col pr-0">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary fa fa-search"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Управление</th>
                                <th>Номер</th>
                                <th>Статус</th>
                                <th>Дата начала</th>
                                <th>Расчётная дата конца</th>
                                <th>Ответственный</th>
                                <th>Скважина</th>
                                <th>Контракт</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    <button class="btn btn-primary fa fa-edit" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td class="text-left"><a href="#">00000001</a></td>
                                <td class="text-left">Active</td>
                                <td class="text-left">
                                    31.07.2020
                                </td>
                                <td class="text-left">
                                    01.08.2020
                                </td>
                                <td class="text-left">Иванов Иван Иванович</td>
                                <td class="text-left">Скважина4</td>
                                <td class="text-left">
                                    00000008
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container-fluid">
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Номер:
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Дата начала:
                                </div>
                                <div class="col pr-0">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Расчётная дата конца:
                                </div>
                                <div class="col pr-0">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Контракт:
                                </div>
                                <div class="col pr-0">
                                    <select class="form-control">
                                        <option>Контракт№00000001</option>
                                        <option>Контракт№00000002</option>
                                        <option>Контракт№00000003</option>
                                        <option>Контракт№00000004</option>
                                        <option>Контракт№00000005</option>
                                        <option>Контракт№00000006</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Скважина:
                                </div>
                                <div class="col pr-0">
                                    <select class="form-control">
                                        <option>Скважина1</option>
                                        <option>Скважина2</option>
                                        <option>Скважина3</option>
                                        <option>Скважина4</option>
                                        <option>Скважина5</option>
                                        <option>Скважина6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Комментарий (необязательно):
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row pt-2">
                                <div class="col-10 pt-1 pr-0">
                                    Инструменты:
                                </div>
                                <div class="col-2 pt-1 pr-0">
                                    <button class="btn btn-primary w-100 fa fa-plus float-right"></button>
                                </div>
                            </div>
                            @* Поиск panel start *@
                            <div class="row mb-3 mt-3">
                                <div class="card w-100">
                                    <div class="card-header pt-0 pb-0">
                                        <h5 class="pt-2 pb-2">
                                            Поиск
                                            <a class="card-link float-right fa @Caret fa-lg" @onclick="ChangeCaret" data-toggle="collapse" href="#editOrderInstrumentSearchCollapse">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="editOrderInstrumentSearchCollapse" class="collapse">
                                        <form class="m-3">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Наименование:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Статус:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <select class="form-control">
                                                            <option selected="selected">Активный</option>
                                                            <option>Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Серийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Партийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Классификация:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary fa fa-search"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @* Поиск panel end *@
                            <div class="row">
                                <div class="col pt-1 pr-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Наименование</th>
                                                    <th>Серийный номер</th>
                                                    <th>Партийный номер</th>
                                                    <th>Артикул</th>
                                                    <th>Классификация</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" class="form-check" />
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        15963589
                                                    </td>
                                                    <td class="text-left">
                                                        Вид1 -> Тип3
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Edit*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container-fluid">
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Номер:
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Дата начала:
                                </div>
                                <div class="col pr-0">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Расчётная дата конца:
                                </div>
                                <div class="col pr-0">
                                    <input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Контракт:
                                </div>
                                <div class="col pr-0">
                                    <select class="form-control">
                                        <option>Контракт№00000001</option>
                                        <option>Контракт№00000002</option>
                                        <option>Контракт№00000003</option>
                                        <option>Контракт№00000004</option>
                                        <option>Контракт№00000005</option>
                                        <option>Контракт№00000006</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Скважина:
                                </div>
                                <div class="col pr-0">
                                    <select class="form-control">
                                        <option>Скважина1</option>
                                        <option>Скважина2</option>
                                        <option>Скважина3</option>
                                        <option>Скважина4</option>
                                        <option>Скважина5</option>
                                        <option>Скважина6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-2 pt-1">
                                    Комментарий (необязательно):
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row pt-2">
                                <div class="col-10 pt-1 pr-0">
                                    Инструменты:
                                </div>
                                <div class="col-2 pt-1 pr-0">
                                    <button class="btn btn-primary w-100 fa fa-plus float-right"></button>
                                </div>
                            </div>
                            @* Поиск panel start *@
                            <div class="row mb-3 mt-3">
                                <div class="card w-100">
                                    <div class="card-header pt-0 pb-0">
                                        <h5 class="pt-2 pb-2">
                                            Поиск
                                            <a class="card-link float-right fa @Caret fa-lg" @onclick="ChangeCaret" data-toggle="collapse" href="#createOrderInstrumentSearchCollapse">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="createOrderInstrumentSearchCollapse" class="collapse">
                                        <form class="m-3">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Наименование:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Статус:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <select class="form-control">
                                                            <option selected="selected">Активный</option>
                                                            <option>Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Серийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Партийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-3 pt-1">
                                                        Классификация:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary fa fa-search"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @* Поиск panel end *@
                            <div class="row">
                                <div class="col pt-1 pr-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Наименование</th>
                                                    <th>Серийный номер</th>
                                                    <th>Партийный номер</th>
                                                    <th>Артикул</th>
                                                    <th>Классификация</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" class="form-check" />
                                                    </td>
                                                    <td class="text-left">
                                                        123524687
                                                    </td>
                                                    <td class="text-left">
                                                        15963589
                                                    </td>
                                                    <td class="text-left">
                                                        Вид1 -> Тип3
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary ">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Create*@
</div>

@code {
    private bool isCaretUp = false;
    public string Caret => isCaretUp ? "fa-caret-down" : "fa-caret-up";

    public void ChangeCaret()
    {
        isCaretUp = !isCaretUp;
    }
}

