@page "/Orders/Details/{OrderId:int}"
@inject IJSRuntime jsRunTime

    <div class="container-fluid">
        <div class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <p>Наряд на работу №00000001</p>
                    </div>
                    <div class="col-5">
                        <p class="float-right">Статус: Активный</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Дата начала:
                    </div>
                    <div class="col-2">
                        31.07.2020
                    </div>
                    <div class="col-3">
                        Скважина:
                    </div>
                    <div class="col-3">
                        Скважина10
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Расчётная дата конца:
                    </div>
                    <div class="col-2">
                        01.08.2020
                    </div>
                    <div class="col-3">
                        Контракт:
                    </div>
                    <div class="col-3">
                        №00000006
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Фактическая дата конца:
                    </div>
                    <div class="col-2">
                        03.08.2020
                    </div>
                    <div class="col-3">
                        Ответственный:
                    </div>
                    <div class="col-3">
                        Иванов Иван Иванович
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-3 pl-0 pr-0">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#operatingTab">Наработка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#instrumentTab">Инструменты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#historyTab">История</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#docTab">Документы</a>
                </li>
            </ul>

            <div class="tab-content pl-0 pr-0t">
                @* Operating time tab start *@
                <div id="operatingTab" class="container-fluid tab-pane active">
                    <div class="container-fluid">
                        @* Поиск panel start *@
                        <form class="row mb-3 mt-3">
                            <div class="card w-100">
                                <div class="card-header pt-0 pb-0">
                                    <h5 class="pt-2 pb-2">
                                        Поиск
                                        <a class="card-link float-right fa @CaretWorkHistory fa-lg" @onclick='()=>ChangeCaret("WorkHistory")' data-toggle="collapse" href="#workInstrumentSearchCollapse">
                                        </a>
                                    </h5>
                                </div>
                                <div id="workInstrumentSearchCollapse" class="collapse">
                                    <div class="m-3">
                                        <div class="container-fluid">
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Наименование:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Подразделение:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <select class="form-control">

                                                        <option>Подразделение1</option>
                                                        <option>Подразделение2</option>
                                                        <option>Подразделение3</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Серийный номер:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Партийный номер:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Артикул:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Классификация:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                <button class="btn btn-primary">
                                                    <span aria-hidden="true" class="fa fa fa-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                        @* Поиск panel end *@
                        <div class="row">
                            <div class="container-fluid pr-0 pl-0 pb-2">
                                <div class="row">
                                    <div class="col-2 pr-0 pt-1">
                                        Неделя:
                                    </div>
                                    <div class="col input-group align-items-center pl-0">
                                        <div id="weekpicker1" @onchange="OnWeekPickerChange"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*Operation time table start*@
                            <div class="table-responsive scrollable">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Статус</th>
                                            <th>Инструмент</th>
                                            <th>Серийный номер</th>
                                            <th>Партийный номер</th>
                                            <th>Артикул</th>
                                            <th>Пн</th>
                                            <th>Вт</th>
                                            <th>Ср</th>
                                            <th>Чт</th>
                                            <th>Пт</th>
                                            <th class="bg-danger">Сб</th>
                                            <th class="bg-danger">Вс</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <input type="checkbox" class="form-check" />
                                            </td>
                                            <td class="text-left jf-state">JF</td>
                                            <td class="text-left">
                                                <div class="row m-auto"><a href="/Tools/Details/1">0000001</a></div>
                                                <div class="row m-auto">Время до ремонта: 5:46</div>
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">12345678</td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        8
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        4
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        9
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        5
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        3
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <input type="checkbox" class="form-check" />
                                            </td>
                                            <td class="text-left jf-state">JF</td>
                                            <td class="text-left">
                                                <div class="row m-auto"><a href="/Tools/Details/1">0000002</a></div>
                                                <div class="row m-auto">Время до ремонта: 5:46</div>                                                
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">12345678</td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        8
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        4
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        9
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        5
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        3
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <input type="checkbox" class="form-check" />
                                            </td>
                                            <td class="text-left jf-sb-state">JF (SB)</td>
                                            <td class="text-left">
                                                <div class="row m-auto"><a href="/Tools/Details/1">0000003</a></div>
                                                <div class="row m-auto">Время до ремонта: 5:46</div>
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">
                                                12345678
                                            </td>
                                            <td class="text-left">12345678</td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        8
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        4
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        9
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-sb-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF (SB)</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        0
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left jf-sb-state">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-6">
                                                            <p class="float-right">JF (SB)</p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        0
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="container-fluid">
                                                    <div class="row operation-info">
                                                        <div class="col-7">
                                                            <p class="float-right"></p>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" class="btn btn-secondary fa fa-comment fa-xs" data-toggle="tooltip" data-placement="top" title="Comment">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        -
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*Operation time table end*@
                        </div>
                        <div class="row mb-3">
                            <div class="card w-100 mt-2 mb-1">
                                <div class="card-body p-1">
                                    <form class="m-3">
                                        <div class="container-fluid">
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Период:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                    <input type="date" class="form-control " />
                                                </div>
                                                <div class="w-100 d-md-none "></div>
                                                <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                    <input type="date" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Наработка:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="number" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Комментарий:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row pt-2">

                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <button type="submit" class="btn btn-primary float-right">Добавить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Operating time tab end *@

                @* Instrument tab start *@
                <div id="instrumentTab" class="container-fluid tab-pane fade">
                    <div class="container-fluid">
                        @* Поиск panel start *@
                        <form class="row mb-3 mt-3">
                            <div class="card w-100">
                                <div class="card-header pt-0 pb-0">
                                    <h5 class="pt-2 pb-2">
                                        Поиск
                                        <a class="card-link float-right fa @CaretTools fa-lg" @onclick='()=>ChangeCaret("Tools")' data-toggle="collapse" href="#instrumentSearchCollapse">
                                        </a>
                                    </h5>
                                </div>
                                <div id="instrumentSearchCollapse" class="collapse">
                                    <div class="m-3">
                                        <div class="container-fluid">
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Наименование:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Подразделение:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <select class="form-control">

                                                        <option>Подразделение1</option>
                                                        <option>Подразделение2</option>
                                                        <option>Подразделение3</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Статус:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <select class="form-control">
                                                        <option selected="selected">Все</option>
                                                        <option>RFU</option>
                                                        <option>JF</option>
                                                        <option>JF(SB)</option>
                                                        <option>WS</option>
                                                        <option>WO</option>
                                                        <option>RP</option>
                                                        <option>Scrap</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Серийный номер:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Партийный номер:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Артикул:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                    Классификация:
                                                </div>
                                                <div class="col pr-0 pl-0 pl-md-1">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                <button class="btn btn-primary">
                                                    <span aria-hidden="true" class="fa fa fa-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                        @* Поиск panel end *@
                        <div class="row">
                            @* Instrument table start*@
                            <div class="table-responsive scrollable">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Управление</th>
                                            <th>Наименование</th>
                                            <th>Подразделение</th>
                                            <th>Количество</th>
                                            <th>Партийный номер</th>
                                            <th>Артикул</th>
                                            <th>Классификация</th>
                                            <th>Время работы (за цикл)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                <button type="button" data-toggle="modal" data-target="#singleControlModal"
                                                        class="btn btn-primary fa fa-exchange-alt transfer-button"></button>
                                            </td>
                                            <td class="text-left">Инструмент1</td>
                                            <td class="text-left">Подразделение1</td>
                                            <td class="text-left">1</td>
                                            <td class="text-left">14566433</td>
                                            <td class="text-left">35669874</td>
                                            <td class="text-left">Вид1 -> Тип2</td>
                                            <td class="text-left">
                                                <div class="row m-auto"><p>01:34</p></div>
                                                <div class="row m-auto">Время до ремонта: 5:46</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <button type="button" data-toggle="modal" data-target="#multipleControlModal"
                                                        class="btn btn-primary fa fa-exchange-alt transfer-button"></button>
                                            </td>
                                            <td class="text-left">Инструмент2</td>
                                            <td class="text-left">Подразделение1</td>
                                            <td class="text-left">4</td>
                                            <td class="text-left">14622874</td>
                                            <td class="text-left">99874112</td>
                                            <td class="text-left">Вид1 -> Тип3</td>
                                            <td class="text-left">
                                                <div class="row m-auto"><p>01:34</p></div>
                                                <div class="row m-auto">Время до ремонта: 5:46</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">
                                                <button type="button" data-toggle="modal" data-target="#multipleControlModal"
                                                        class="btn btn-primary fa fa-exchange-alt transfer-button"></button>
                                            </td>
                                            <td class="text-left">Инструмент3</td>
                                            <td class="text-left">Подразделение1</td>
                                            <td class="text-left">10</td>
                                            <td class="text-left">34685986</td>
                                            <td class="text-left">47855478</td>
                                            <td class="text-left">Вид2 -> Тип4</td>
                                            <td class="text-left error-text">
                                                <div class="row m-auto"><p>01:34</p></div>
                                                <div class="row  m-auto">Требуется ремонт! Переработка: 5:46</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @* Instrument table end*@
                        </div>
                    </div>
                </div>
                @* Instrument tab end *@

                @* History tab start *@
                <div id="historyTab" class="container-fluid tab-pane fade">
                    <div class="container-fluid">
                        @* History search start*@
                        <div class="row mb-3 mt-3">
                            <div class="col pl-0 pr-0">
                                <div class="card w-100">
                                    <div class="card-header pt-0 pb-0">
                                        <h5 class="pt-2 pb-2">
                                            Поиск
                                            <a class="card-link float-right fa @CaretHistory fa-lg" @onclick='()=>ChangeCaret("History")' data-toggle="collapse" href="#historySearchCollapse">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="historySearchCollapse" class="collapse">
                                        <form class="m-3">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Сообщение:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Период:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                        <input type="date" class="form-control " />
                                                    </div>
                                                    <div class="w-100 d-md-none "></div>
                                                    <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                        <input type="date" class="form-control" />
                                                    </div>
                                                </div>


                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary">
                                                        <span aria-hidden="true" class="fa fa fa-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @* History search end*@
                        <div class="row">
                            @*History table start*@
                            <div class="table-responsive scrollable">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="15%">Дата</th>
                                            <th width="50%">Сообщение</th>
                                            <th width="35%">Комментарий</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                31.01.2020
                                            </td>
                                            <td class="text-left">Наряд №00000001 открыт</td>
                                            <td class="text-left">Пользователь1: Тестовый комментарий</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*History table end*@
                        </div>
                    </div>
                </div>
                @* History tab end *@

                @* Docs tab start *@
                <div id="docTab" class="container-fluid tab-pane fade">
                    <div class="container-fluid">
                        <div class="row mt-3">
                            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                                    data-toggle="modal" data-target="#addDocModal"></button>
                        </div>
                        @* Doc search start*@
                        <div class="row mb-3 mt-3">
                            <div class="col pl-0 pr-0">
                                <div class="card w-100">
                                    <div class="card-header pt-0 pb-0">
                                        <h5 class="pt-2 pb-2">
                                            Поиск
                                            <a class="card-link float-right fa @CaretDocs fa-lg" @onclick='()=>ChangeCaret("Docs")' data-toggle="collapse" href="#docsSearchCollapse">
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="docsSearchCollapse" class="collapse">
                                        <form class="m-3">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Наименование:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="row pt-2">
                                                    <div class="col-md-5 col-lg-4 pt-1 pl-0">
                                                        Период:
                                                    </div>
                                                    <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                        <input type="date" class="form-control " />
                                                    </div>
                                                    <div class="w-100 d-md-none "></div>
                                                    <div class="col pr-0 pl-0 pl-md-1 pb-2 pb-lg-0">
                                                        <input type="date" class="form-control" />
                                                    </div>
                                                </div>


                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary">
                                                        <span aria-hidden="true" class="fa fa fa-search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Doc search end*@
                        <div class="row">
                            @*Doc table start*@
                            <div class="table-responsive scrollable">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10%"></th>
                                            <th width="15%">Дата</th>
                                            <th width="35%">Наименование</th>
                                            <th width="40%">Автор</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-primary fa fa-file-alt" />
                                            </td>
                                            <td class="text-left">12.05.2020</td>
                                            <td class="text-left"><a href="#">Акт приёмки №0000001</a></td>
                                            <td class="text-left">Иванов Иван Иванович</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*Doc table end*@
                        </div>
                    </div>
                </div>
                @* Docs tab end *@
            </div>
        </div>
        @*Modal add doc start*@
        <div class="modal fade" id="addDocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Прикрепление документа:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Наименование документа:
                                    </div>
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                            <span>Выберите файл</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Прикрепите документ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary ">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal add doc end*@

        @*Modal control single instruments start*@
        <div class="modal fade" id="singleControlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Перемещение инструмента: Инструмент1</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Куда переместить:
                                    </div>
                                    <div class="col pr-0">
                                        <select class="form-control">
                                            <option>Склад (RFU)</option>
                                            <option>Ремонт (RP)</option>
                                            <option>Утиль (Scrap)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Комментарий (необязательно):
                                    </div>
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary ">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal control single instruments end*@

        @*Modal control multiple instruments start*@
        <div class="modal fade" id="multipleControlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Перемещение инструмента</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Куда переместить:
                                    </div>
                                    <div class="col pr-0">
                                        <select class="form-control">
                                            <option>Склад (RFU)</option>
                                            <option>Ремонт (RP)</option>
                                            <option>Утиль (Scrap)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Комментарий (необязательно):
                                    </div>
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col pt-1 pr-0">
                                        Инструменты:
                                    </div>

                                </div>
                                @* Поиск panel start *@
                                <div class="row mb-3 mt-3">
                                    <div class="card w-100 ml-3">
                                        <div class="card-header pt-0 pb-0">
                                            <h5 class="pt-2 pb-2">
                                                Поиск
                                                <a class="card-link float-right fa @CaretTransferTools fa-lg" @onclick='()=>ChangeCaret("Transfer")' data-toggle="collapse" href="#multipleInstrumentConrtrolSearchCollapse">
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="multipleInstrumentConrtrolSearchCollapse" class="collapse">
                                            <div class="container-fluid">
                                                <div class="row pt-2">
                                                    <div class="col-md-2 pt-1">
                                                        Наименование:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-2 pt-1">
                                                        Серийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-2 pt-1">
                                                        Партийный номер:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-2 pt-1">
                                                        Артикул:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-2 pt-1">
                                                        Классификация:
                                                    </div>
                                                    <div class="col pr-0">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row d-flex flex-row-reverse pt-2 pb-2">
                                                    <button class="btn btn-primary fa fa-search"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* Поиск panel end *@
                                <div class="row">
                                    <div class="col pt-1 pr-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Наименование</th>
                                                        <th>Серийный номер</th>
                                                        <th>Партийный номер</th>
                                                        <th>Артикул</th>
                                                        <th>Классификация</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">
                                                            <input type="checkbox" class="form-check" />
                                                        </td>
                                                        <td class="text-left">
                                                            Инструмент2
                                                        </td>
                                                        <td class="text-left">
                                                            123524687
                                                        </td>
                                                        <td class="text-left">
                                                            15963589
                                                        </td>
                                                        <td class="text-left">
                                                            44589625
                                                        </td>
                                                        <td class="text-left">
                                                            Вид1 -> Тип3
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            <input type="checkbox" class="form-check" />
                                                        </td>
                                                        <td class="text-left">
                                                            Инструмент2
                                                        </td>
                                                        <td class="text-left">
                                                            99874112
                                                        </td>
                                                        <td class="text-left">
                                                            15963589
                                                        </td>
                                                        <td class="text-left">
                                                            44589625
                                                        </td>
                                                        <td class="text-left">
                                                            Вид1 -> Тип3
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary ">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal control multiple instruments end*@

        @*Modal add doc start*@
        <div class="modal fade" id="addDocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Прикрепление документа</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row pt-2">
                                    <div class="col-md-2 pt-1">
                                        Наименование документа:
                                    </div>
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                            <span>Выберите файл</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Прикрепите документ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary ">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        @*Modal add doc end*@
    </div>

@code {
    [Parameter]
    public int OrderId { get; set; }
    bool isFirstRender = true;

    public bool isCaretHistoryUp = false;
    public bool isCaretWorkHistoryUp = false;
    public bool isCaretDocsUp = false;
    public bool isCaretToolsUp = false;
    public bool isCaretTransferToolsUp = false;
    public string CaretHistory => isCaretHistoryUp ? "fa-caret-down" : "fa-caret-up";
    public string CaretWorkHistory => isCaretHistoryUp ? "fa-caret-down" : "fa-caret-up";
    public string CaretDocs => isCaretDocsUp ? "fa-caret-down" : "fa-caret-up";
    public string CaretTools => isCaretToolsUp ? "fa-caret-down" : "fa-caret-up";
    public string CaretTransferTools => isCaretTransferToolsUp ? "fa-caret-down" : "fa-caret-up";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isFirstRender)
        {
            await jsRunTime.InvokeVoidAsync("initDatePicker");
            await jsRunTime.InvokeVoidAsync("initTooltips");
        }
        isFirstRender = false;
    }

    public void ChangeCaret(string elem)
    {
        switch (elem)
        {
            case "History":
                isCaretHistoryUp = !isCaretHistoryUp;
                break;
            case "WorkHistory":
                isCaretWorkHistoryUp = !isCaretWorkHistoryUp;
                break;
            case "Docs":
                isCaretDocsUp = !isCaretDocsUp;
                break;
            case "Tools":
                isCaretToolsUp = !isCaretToolsUp;
                break;
            case "Transfer":
                isCaretTransferToolsUp = !isCaretTransferToolsUp;
                break;

        }
    }

    public async Task OnWeekPickerChange()
    {
        await jsRunTime.InvokeVoidAsync("dpChange");
    }
}
