<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <i class="nav-icon fas fa fa-home" aria-hidden="true"></i>
        Tool Managment System
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <button class="@SideBarButtonCssClass">
        <span>X</span>
    </button>
    <div id="menuTreeView" name="menuTreeView">

    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string SideBarButtonCssClass => !collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;      
    }
}

