@page "/Error"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-danger mb-3">Ошибка!</h1>
            </div> 
        </div>

        <div class="row align-items-center">
            <div class="col-auto">
                <h4>Описание:</h4>
            </div>
            <div class="col-auto">
                <p class="mb-0">
                    @Model.ErrorMessage
                </p>
            </div>           
        </div>
    </div>
    


