@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid description-container">

    <div class="row justify-content-center mb-3">
        <img src="/images/Weatherford_International_Logo2.svg.png" class="img-fluid">

    </div>
    <div class="row mb-4">
        <h3>Добро пожаловать в <span>Tools Managment System</span>!</h3>
    </div>
    <div class="row">
        <p>Вкладка <span>Администрирование</span> для управления ролями и пользователями.</p>
    </div>
    <div class="row">
        <p>Откройте вкладки <span>НСИ</span> и <a href="/Contracts">Контракты</a> для заполнения нормативно-справочной информации.</p>
    </div>
    <div class="row">
        <p>Вы можете увидеть список и статус всех инструментов на вкладке <a href="/Tools">Склад</a>.</p>
    </div>
    <div class="row">
        <p>Для добавления нового наряда на работу и заполнения наработки, а также просмотра информации о всех нарядах на работу перейдите на вкладку <a href="/Orders">Наряды на работу</a>.</p>
    </div>
    <div class="row">
        <p>Перейдите на вкладку <a href="/Maintenances">Сервисное обслуживание</a> для управления инструментами в сервисе.</p>
    </div>
    <div class="row">
        <p>Перейдите на вкладку <a href="/RepairProcesses">Ремонт</a> для управления инструментами в ремонте.</p>
    </div>
    <div class="row">
        <p>Для просмотра сканов документов перейдите на вкладку <a href="/Documentation">Документация</a>.</p>
    </div>
    <div class="row">
        <p>Для просмотра отчётов перейдите на вкладку <a href="/Reports">Отчёты</a>.</p>
    </div>
</div>

